.titre {text-align: center;
}

.photo  {
    display: flex;
    flex-direction: row;
align-items: left;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    border: solid black 1px;
}


.nom {
    text-align: center;
}

.liste {
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    top: -100px;
    border: black solid;
}
.liste li{
    display: inline;
    list-style: none;
}

.liste a{
    display: inline-block;
    margin: 0 30px;
}
.profil {
    text-align: left;
    position: relative;
    top: -150px;
}

.profil2{
    text-align: left;
    position: relative;
    top: -150px;
}

.comp{text-align: right;
        position: relative;
    top: -170px;}

.int{
    text-align: left;
    position: relative;
    top: -170px;
}

.coo{text-align: left;
position: relative;
top: 200px;}

.coo2{
    text-align: right;
    position: relative;
    top: 200px;
}

.nom2{
    text-align: center;
}

.titre2{text-align: center}

.photo2 {
    display: flex;
    flex-direction: row;
align-items: left;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    border: black solid 1px;
   

}
  
.nom2 {
    text-align: center;
    position: relative;
    right: -15px;
}

.liste2{text-align: center;
position: relative;
top: 270px;}

.liste2 li{display: inline;
    list-style: none;
    margin: 0 2%;

}

.exp1{position: relative;
top: -200px;}

.mar1{margin: 0 2%;}

.mar2 {margin: 0 2%;}

.mar3 {margin: 0 2%;}

.nom3{text-align: center;
    position: relative;
    right: -15px;
    }

.f1{
    position: relative;
    top: -150px;
}

.liste3{padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    top: -100px;
    border: black solid;
position: relative;
top: 160px;}

.liste3 li{
    display: inline;
    list-style: none;
}





    
   



